*{
      box-sizing: border-box;
}
*,*{
      box-sizing: inherit;
}
body{
      font-family: 'Edu VIC WA NT Beginner', cursive;
      font-family: 'Source Serif Pro', serif;
}

.container1{
      max-width: 90%;
      width: 1080px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      padding-top: 40px;
      gap:30px;
      margin-bottom: 30px;
      justify-content: center;
      align-items: center;
}

.card{
      max-width: 320px;
      width: 100%;
      margin:20px 10px;
      height:350px;
      background-color:rgb(246 246 246);
      border-radius: 5px;
      text-align: center;
      justify-content: center;
      overflow: hidden;
    }
.card img{
      max-width: 100%;
      height:200px; 
}


.card:hover{
      box-shadow: 5px 5px 5px 3px rgb(107, 102, 102);
}

footer{
      height: 60px;
      background-color: rgba(65, 49, 28, 0.116);
      position:relative;
      
}
.text1{
      font-size: 1.5rem;
      margin: 0;
      position:absolute;
      top:20px;
      left: 50%;
      font-weight: bold;
      
}

.figure{
      padding: 10 15;
}
.navbar{
      background-color: rgb(101, 104, 92);
}
.btj{
      border: 0;
      border-radius: 10px;
      padding: 15px 30px;
      cursor: pointer;
      background-color: rgba(127, 255, 212, 0.493);
      color: rgb(0, 0, 0);
      text-decoration: none;
      text-decoration-style: none;
}

.tb{
      margin-top: 25px;
}

.btj:hover{
      background-color: rgb(24, 75, 36);
      color:white;
}



.btn{
      background-color: #FFDD5A;
      color:rgb(0, 0, 0);
      border: none;
}

.formt{
      display: flex;
      gap: 10px;
}
.navbar{
      background-color: rgb(121, 122, 122);
      border: none;
}

.card__body{
      width: 100%;
      height: 50%;
      text-align: center;
}
.card:hover{
      background-color: rgba(0, 0, 0, 0.158);
      font-weight: bold;
      color: rgb(22, 10, 10);
   
}
.bth{
      background-color: rgb(169, 216, 216);
      padding: 10px 15px;
      text-align: center;
      font-weight: bold;
      border-radius: 10px;
}

.card__body{
      padding: 15 15;
}

.texto p{
      padding: 40 20;
      font-size: 14px;
}

body:hover{
      background-color: rgba(170, 204, 204, 0.144);
}

hr .line{
      font-size: 2.5rem;
      color: black;
      font-weight: bolder;
}

.text2{
      max-width: 1024px;
      width: 100%;
      margin:40px auto;
      text-align: center;
      justify-content: center;
      height: 300px;
      background-color: transparent;
      padding: 50px 30px;
      overflow: auto;
      border-left: 14px solid rgba(205, 218, 175, 0.349);
      border-radius: 7px;

}

.text2:hover{
      font-size: larger;
      font-weight: bold;
}
.text2 p{
      margin-bottom: 15px;
}
.text2:hover{
      box-shadow: 5px 5px 5px 3px rgba(14, 13, 13, 0.493);
}
a{text-decoration: none;
}
.bth{
      background-color: antiquewhite;
      color:black;
}

.seccion__contenido {
      padding: 10px 20px 40px;
     
}
.form1 {
      border: 2px solid rgb(126, 119, 119);
      padding: 10px 25px;
      border-radius: 8px;
      background-color: rgba(92, 147, 199, 0.158);
      text-align: center;
}

.form1 input,
.form1 textarea{
      outline: 3px solid rgb(52, 58, 85);
}

.section{
      width: 100%;
      min-height: 100vh;
      padding-top: 40px;
      position:relative;
      overflow: hidden;
}
.container-section{
      max-width: 90%;
      width: 1080px;
      margin: auto;
}
.form-group1 {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 2rem;
  color:#1f1c1c;

}

.form-control1 {
  padding: 15px;
  font-size: 1.4rem;
  background-color: rgba(84, 101, 194, 0.548);
  border: 1px solid transparent;
  border-radius: 8px;
  font-size:medium;
}

.form-control1::placeholder {
  color: rgb(46, 59, 87);
}

.form-control1:focus-visible {
  outline: 1px solid lightseagreen;
  border-color: #fff;
}

.btn-form {
  padding: 15px;
  background-color: rgb(220, 247, 17);
  border: 1px solid transparent;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}

.btn-form:hover {
  background-color: #fff237;
}
.title{
      text-align: center;
      box-shadow: 5px 5px 5px 3px rgba(6, 48, 231, 0.493);
      margin-bottom: 35px;
}
.nav1{
      background-color: #FFDD5A;
}
.navbar-header .botonR{
padding: 10px 25px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background:yellow;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

.navbar-header .botonR::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      border-radius: 15px;
      background-color: #040404;
      z-index: -1;
      -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
      transition: all 250ms
     }
     
.navbar-header .botonR:hover {
      color: #ebf616;
     }
     
.navbar-header .botonR:hover::before {
      width: 100%;
     }



