

body {
  font-family: "Edu VIC WA NT Beginner", cursive;
  font-family: "Source Serif Pro", serif;
}

.container1 {
  max-width: 90%;
  width: 1080px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  gap: 30px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 320px;
  width: 100%;
  margin: 20px 10px;
  height: 350px;
  background-color: rgb(246 246 246);
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  height: 200px;
}

.card:hover {
  box-shadow: 5px 5px 5px 3px rgb(107, 102, 102);
}

.pie-pagina {
  width: 100%;
  background-color: #162644;
}


.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: rgb(255, 255, 255);
  margin-right: 50px;
  background-color: black;
  text-align: center;
  border-radius: 10px;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: #ffd300;
  background: white;
}

.pie-pagina .grupo-2 {
  background-color: #ffd300;
  text-align: center;
  padding: 15px 10px;
  color: white;
  font-size: 20px;
}

.figure {
  padding: 10 15;
}

.navbar {
  background-color: rgb(101, 104, 92);
}

.btj {
  border: 0;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  background-color: rgba(18, 246, 49, 0.493);
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-decoration-style: none;
}

.tb {
  margin-top: 25px;
}

.btj:hover {
  background-color: rgb(24, 75, 36);
  color: white;
}

.btn {
  background-color: #ffdd5a;
  color: rgb(0, 0, 0);
  border: none;
}

.formt {
  display: flex;
  gap: 10px;
}

.navbar {
  background-color: rgb(0, 251, 251);
  border: none;
}

.card__body {
  width: 100%;
  height: 50%;
  text-align: center;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.158);
  font-weight: bold;
  color: rgb(22, 10, 10);
}

.bth {
  background-color: rgb(169, 216, 216);
  padding: 10px 15px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}

.card__body {
  padding: 15 15;
}

.texto p {
  padding: 40 20;
  font-size: 14px;
}

body:hover {
  background-color: rgba(170, 204, 204, 0.144);
}

hr .line {
  font-size: 2.5rem;
  color: black;
  font-weight: bolder;
}

.text2 {
  max-width: 1024px;
  width: 100%;
  margin: 40px auto;
  text-align: center;
  justify-content: center;
  height: 300px;
  background-color: transparent;
  padding: 50px 30px;
  overflow: auto;
  border-left: 14px solid rgba(205, 218, 175, 0.349);
  border-radius: 7px;
}

.text2:hover {
  font-size: larger;
  font-weight: bold;
}

.text2 p {
  margin-bottom: 15px;
}

.text2:hover {
  box-shadow: 5px 5px 5px 3px rgba(14, 13, 13, 0.493);
}

a {
  text-decoration: none;
}

.bth {
  background-color: antiquewhite;
  color: black;
}

.seccion__contenido {
  padding: 10px 20px 40px;
}

.form1 {
  border: 2px solid  #ffdd5a;
  padding: 10px 25px;
  border-radius: 8px;
  background-color: #162644;
  text-align: center;
}

.form1 input,
.form1 textarea {
  outline: 3px solid rgb(52, 58, 85);
}

.section {
  width: 100%;
  min-height: 100vh;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
}

.container-section {
  max-width: 90%;
  width: 1080px;
  margin: auto;
}

.form-group1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 20px;
  margin-bottom: 2rem;
  color: #ffffff;
}

.form-control1 {
  padding: 15px;
  color: #040404;
  font-size: 1.4rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: medium;
}

.form-control1::placeholder {
  color: rgb(46, 59, 87);
}

.form-control1:focus-visible {
  outline: 1px solid lightseagreen;
  border-color: #db0f0f;
}

.btn-form {
  padding: 15px;
  background-color:  #ffdd5a;
  border: 1px solid transparent;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn-form:hover {
  background-color: #fff237;
}

.title {
  text-align: center;
  box-shadow: 5px 5px 5px 3px rgba(6, 48, 231, 0.493);
  margin-bottom: 35px;
}

.nav1 {
  background-color: #ffdd5a;
}

.navbar-header .botonR {
  padding: 10px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: rgb(39, 156, 160);
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.navbar-header .botonR::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #040404;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.navbar-header .botonR:hover {
  color: #16f65d;
}

.navbar-header .botonR:hover::before {
  width: 100%;
}

#modal::backdrop{
  background-color: rgba(5, 4, 4, 0.5);
}

#modal h1{
  font-size: medium;
  color: black;
}


#modal{
  width: 370px;
  height: 400px;
  border-radius: 30px;
  box-shadow: 10px 0px 29px 0px black;
  border: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 50px;
  background-color: rgba(38, 38, 111, 0.534);
  backdrop-filter: blur(5px);
}

#modal .container-form-solicitud{
  width: 350px;
  height: 380px;
  padding: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}

#modal .container-form-solicitud .form-solicitud{
  display: flex;
  justify-content: center;
  align-items: space-around;
  flex-direction: column;

}

#modal .container-form-solicitud .form-solicitud input{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  border: solid 0.1px rgb(243, 237, 237);
  background-color: #31303000;
  color: rgb(251, 252, 249);
}

.Btnform-soli{
  margin-bottom: 15px;
  width: auto;
  align-self: center;
  height: 30px;
  border-radius: 10px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  transition: all 0.5s ease;
  border: 1px solid black;
}

.Btnform-soli:hover{
  background-color: rgba(60, 194, 15, 0.887);
  color: rgb(243, 236, 236);
  font-weight: bold;
  transition: all 0.5s ease;
  border: 1px solid rgb(251, 247, 247);
}
.Btnform-soli:active{
  margin-bottom: 15px;
  width: auto;
  align-self: center;
  height: 30px;
  border-radius: 10px;
  background-color: rgba(33, 25, 25, 0);
  color: rgb(248, 245, 245);
  font-weight: bold;
  transition: all 0.5s ease;
  border: 1px solid rgb(7, 6, 6);
}

.Btnform-sol{
  position: absolute;
  top: 10px;
  left: 410px;
  border-radius: 50%;
  border: none;
  height: 20px;
  background-color: #1f1c1c00;
  color: white;
  font-size: 20px;
  transition: all 0.5s;
}
.Btnform-sol:hover{
  color: red;
  transition: all 0.5s;
}

.logo{
  width: 100%;
  height: auto;
}

.logo img{
  justify-content: center;
  width: 70px;
  height: 70px;
}
