.body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.contai {
  margin: 50px auto;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(2, 3, 129);
  box-shadow: 15px -15px 15px gray;
}

.contai .cotainer-form {
  padding: 30px 50px;
  justify-content: center;
}

.navbarr {
  background-color: rgb(2, 3, 129);
  text-align: left;
}

.navbarr ul li a {
  color: white;
  font-size: 20px;
  padding: 20px;
  margin: 70px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: none;
}

.navbarr ul li {
  display: inline-table;
  line-height: 50px;
  margin: 5px;
  text-decoration: none;
}

.navbarr ul li a.active,
ul li a:hover {
  background-color: #ffd300;
  height: 50px;
  transition: 0.5s;
  color: black;
  margin-top: 10px;
}

.btnn {
  border: 0;
  font-size: 20px;
  border-radius: 7px;
  background-color: #ffd300;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.btnl {
  border: 0;
  font-size: 20px;
  border-radius: 7px;
  background-color: #ffd300;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.form-group {
  color: white;
}

.color {
  background-color: rgb(255, 255, 255);
}